
*.log
*.log.*

\.idea/
*.iml
\.vertx/
node_modules/
\target/
.project
\.settings/
config.yaml
aiyo-service-data/src/main/resources/application.yml
aiyo-service-business/src/main/resources/application.yml
